<!doctype html>
<html lang="en">

<head>
    <title>Promocoes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/sobre.css}">
    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<body>
    <header class="overflow-hidden">

       <nav th:replace="~{frags/_navbar :: nav}"></nav>

        <img class="overflow-hidden" src="Imagens/praia2.jpg" alt="">

        <div class="barra container-fluid overflow-hidden justify-content-center align-items-center text-center">
            <div class="row container-fluid h-100">
                <div class="col text-white  justify-content-center align-items-center text-center">
                    <h1>PROMOÇÕES</h1>
                    <p> VIAGE MUITO, POR MUITO POUCO! </p>
                </div>
            </div>
        </div>
    </header>
    <div>
        <div>
            <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|} mt-5">
                <h3>Tá pensando em passar as férias no nordeste? Aqui vão 5 motivos para que você escolha o Ceará como o
                    seu destino principal:</h3>
                <div class="card m-auto mb-2" style=" width: 18rem ">
                    <img src="Imagens/promo01.png" class="card-img-top" alt="..." style= />
                    <div class="card-body">
                        <h5 class="card-title">Praia da Lagoinha - Paraipaba</h5>
                        <p class="card-text text-justify" style="height:18rem">Não esqueça de fazer o tradicional
                            passeio pelo centrinho depois de curtir a praia.</p>
                        <a href='/Contato' class="btn btn-primary" style="background: #558b2f">AGENDE AGORA</a>
                    </div>
                </div>
                <div class="card m-auto mb-2" style=" width: 18rem ">
                    <img src="Imagens/promo02.png" class="card-img-top" alt="..." style= />
                    <div class="card-body">
                        <h5 class="card-title">Flecheiras – Trairi</h5>
                        <p class="card-text text-justify" style="height: 18rem">Perfeito para quem busca um dia de
                            tranquilidade longe das movimentadas praias. </p>
                        <a href='/Contato' class="btn btn-primary" style="background: #558b2f">AGENDE AGORA</a>
                    </div>
                </div>
                <div class="card m-auto mb-2" style=" width: 18rem ">
                    <img src="Imagens/promo03.png" class="card-img-top" alt="..." style= />
                    <div class="card-body">
                        <h5 class="card-title">Guajiru – Trairi</h5>
                        <p class="card-text text-justify" style="height: 18rem;">Em Guajiru, espere encontrar um mar
                            formado por piscinas naturais e de temperaturas amenas.</p>
                        <a href='/Contato' class="btn btn-primary" style="background: #558b2f">AGENDE AGORA</a>
                    </div>
                </div>
                <div class="card m-auto mb-2" style=" width: 18rem ">
                    <img src="Imagens/promo04.png" class="card-img-top" alt="..." style= />
                    <div class="card-body">
                        <h5 class="card-title">Praia das Fontes – Beberibe</h5>
                        <p class="card-text text-justify" style="height: 18rem;">Um local ideal para a família curtir um
                            dia relaxante e desfrutar de uma bela paisagem.</p>
                        <a href='/Contato' class="btn btn-primary" style="background: #558b2f">AGENDE AGORA</a>
                    </div>
                </div>
                <div class="card m-auto mb-2" style=" width: 18rem ">
                    <img src="Imagens/promo05.png" class="card-img-top" alt="..." style= />
                    <div class="card-body">
                        <h5 class="card-title">Barra do Cauipe – Beberibe</h5>
                        <p class="card-text text-justify" style="height: 18rem;">Destino que atrai muitos aventureiros e
                            praticantes de kite surfe.</p>
                        <a href='/Contato' class="btn btn-primary" style="background: #558b2f">AGENDE AGORA</a>
                    </div>
                </div>
            </div>
            <h3 class="mt-5">Achou pouco? Pois toma, aqui vão 5 motivos para que você escolha o Ceará como o seu destino
                principal:</h3>
            <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
                <div class="card m-auto mb-2" style="width: 18rem ">
                    <img src="Imagens/promo06.png" class="card-img-top" alt="..." style= />
                    <div class="card-body">
                        <h5 class="card-title">Icaraí de Amontada – Amontada</h5>
                        <p class="card-text text-justify">Carinhosamente chamada por seus
                            moradores de Icaraizinho, esta vila de pescadores possui piscinas naturais.</p>
                        <a href='/Contato' class="btn btn-primary" style="background: #558b2f">AGENDE AGORA</a>
                    </div>
                </div>
                <div class="card m-auto mb-2" style= "width: 18rem ">
                    <img src="Imagens/promo07.png" class="card-img-top" alt="..." style= />
                    <div class="card-body">
                        <h5 class="card-title">Ponta Grossa – Canoa Quebrada</h5>
                        <p class="card-text text-justify" style="height: 18rem;">Praia da Ponta Grossa, um paraíso verde
                            e vermelho que combina a cor do mar com suas falésias, dunas e coqueiros. </p>
                        <a href='/Contato' class="btn btn-primary" style="background: #558b2f">AGENDE AGORA</a>
                    </div>
                </div>
                <div class="card m-auto mb-2" style="width: 18rem">
                    <img src="Imagens/promo08.png" class="card-img-top" alt="..." style= />
                    <div class="card-body">
                        <h5 class="card-title">Canoa Quebrada – Aracati</h5>
                        <p class="card-text text-justify" style="height: 18rem;">Explore a incrível vista desta praia de
                            cima de suas escadarias, admirando as falésias em frente as dunas.</p>
                        <a href='/Contato' class="btn btn-primary" style="background: #558b2f">AGENDE AGORA</a>
                    </div>
                </div>
                <div class="card m-auto mb-2" style=" width: 18rem ">
                    <img src="Imagens/promo09.png" class="card-img-top" alt="..." style= />
                    <div class="card-body">
                        <h5 class="card-title">Praia do Futuro – Fortaleza</h5>
                        <p class="card-text text-justify" style="height: 18rem;">A praia mais famosa de Fortaleza tem
                            uma infraestrutura totalmente diferenciada, com barracas. </p>
                        <a href='/Contato' class="btn btn-primary" style="background: #558b2f">AGENDE AGORA</a>
                    </div>
                </div>
                <div class="card m-auto mb-2" style=" width: 18rem ">
                    <img src="Imagens/promo10.png" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Tatajuba – Camocim</h5>
                        <p class="card-text text-justify" style="height: 18rem;">Além de suas maravilhosas águas
                            esverdeadas, Tatajuba ainda oferece aos seus visitantes um passeio de bugue.</p>
                        <a href='/Contato' class="btn btn-primary" style="background: #558b2f">AGENDE AGORA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <footer th:replace="~{frags/_footer :: footer}"></footer>




    <!-- Script Navbar -->
    <script>
        var nav = document.getElementById('nav');
        window.addEventListener("scroll", function (event) {
            if (window.pageYOffset > 50) {

                nav.style.height = "70px";
                nav.style.background = "#0d3040";
                nav.style.fontSize = "12pt";


            }
            else {
                nav.style.background = "#0d3040"
                nav.style.height = "130px";
                nav.style.fontSize = "15pt";
            }
        });
    </script>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>